<section class="room-section">
  <div class="container">
    <h2 class="room-title">ЗРУЧНОСТІ У НОМЕРІ</h2>
    <div class="room-wrapper main">
      <p class="room-description">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
    </div>
    <h3 class="room-subtitle">ЗАГАЛЬНІ</h3>
    <div class="room-wrapper">
      <p class="room-description">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
      <p class="room-description">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
    </div>
    <h3 class="room-subtitle">ВАННА КІМНАТА</h3>
    <div class="room-wrapper">
      <p class="room-description">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
      <p class="room-description">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
    </div>
    <h3 class="room-subtitle">СПАЛЬНЯ</h3>
    <div class="room-wrapper">
      <p class="room-description">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint.
      </p>
    </div>
    <h3 class="room-subtitle">КУХНЯ</h3>
    <div class="room-wrapper">
      <p class="room-description">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint.
      </p>
      <p class="room-description ">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint.
      </p>
    </div>
    <h3 class="room-subtitle">МЕДІА</h3>
    <div class="room-wrapper last">
      <p class="room-description">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit.
      </p>
    </div>
    <div class="room-btn-group">
      <button type="button" class="room-order-btn" data-room-open>
        ОФОРМИТИ БРОНЮВАННЯ
      </button>
      <a class="back-link" href="./hotel.html"
        >Повернутися до перегляду номерів
        <svg class="back-link__icon">
          <use
            href="./img/icons-sprite.svg#icon-arrow-disabled-rigth"
            class="arrow-disabled"
          ></use>
        </svg>
      </a>
    </div>
  </div>
</section>
